body {
    margin: 0;
}

.rezept {
    list-style-type: none;
    margin: 0;
    padding: 8px 16px;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.panel_rezept {
    margin-left:25%;
    padding:1px 16px;
    height:100%;
    font-family: "Times New Roman", Times, serif;
}